  *{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
scroll-behavior: smooth;
font-family: 'poppins';

  }
  :root {
    --background: rgb(24, 24, 24);
    --second-background: rgb(21,12,12);
  } 
body{min-height : 100vh; 
     background-color: var(--background); 
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 5%;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    background-color: rgb(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3em;
}
  
nav ul a{
    color: white;  
    opacity: 0.7;
    transition: 0.2s ease-in-out;

}

nav ul a:hover{
 opacity: 1em;
 
}
.logo{
  font-size: 2em;
  color: white;
  font-weight: 800;
  opacity: 0.8;
  transform: 0.2s, ease-in-out;
  
}
.logo:hover{
opacity: 3em;
} 
.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight:500 ;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  
}
.btn:hover{
    background-color: white; 
    color: var(--background);

}

span{
    background: linear-gradient(to right, #61ff52, #3854f1); 
background-clip: text;
color: transparent;
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}
section{ 
min-height: 100vh;
padding: 5% 15%;

}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;

}
#home img{
    width: 30vw;
     border-radius: 70%;
    margin-top: 15em;

}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;     
    gap: o.5em;
    max-width: 600px;

}
.info-box h1{
    font-size: 5em;
    font-weight: 500;
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box { 
    opacity: 0.7;


}
.btn-box{
    display: flex;
    gap: 1em;
}
.btn-box .btn:nth-of-type(2){
     background-color: white;
     color: var(--background);

}
.btn-box .btn:nth-of-type(2):hover{
    background-color: var(--background);
    color: white;
} 

::-webkit-scrollbar-bar{
    width: 200;
   background-color: var(--background);

}   

::-webkit-scrollbar-thumb{
    background: linear-gradient( to bottom, #6cff52,  #3ec5ff);
} 

  #about{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;

  }

  #about img{
    width: 20vw;
    border-radius: 1em;
  }
  .bout-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
  }
  .about-box h1{
      font-size: 5em;

  }
  .about-box p{
    color:  white;
    opacity: 0.8;

  }

  .skills{
    display: flex;
    text-align: left;
    gap: 10em;
  }
  .skills ul{
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    align-items: baseline;
  }
  .skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 3em;
    transition: 0.3s ease-in-out;
     
  }
  .skills ul li span:hover{
    transform: translatex(10px); 
  }
 
  .skills ul li i{
     font-size: 1.2em;

  }
  .about-box h2{
      font-size: 2.5em;
  }
#services{
   background-color: var(--second-background);

}
.header{
  text-align: center;
  font-size: 5em;
  margin: 0.5em 0;
}

.services-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr ));
  gap: 2em;

}
.box{
  border: 3px solid rgb(49, 49, 49);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  padding: 3em;
  gap: 2em;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}
.box:hover{
  border: 3px solid rgb(100, 100, 100);
}
.box p{
  opacity: 0.8;
}
.box h1{
  font-size: 2em;

}
.box img{
  min-width: 25px;
  border-radius: 0.5em;
}
#contact{
  background-color: var(--second-background);

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
form .input-box{
display: flex;
flex-direction: column;
align-items: baseline;
gap: 2em;
}
.input-box span{
  font-size: 1em;
}
form input{
  font-size: 1em;
  padding: 1em 2.5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
}

form .input:focus{
background: rgb(229, 229, 229);
}
.sub {
  display: flex;
  align-items: center;
  gap: 5em;
  background-color: var(--second-background);
}

sub :hover{
 
color: white;
background-color: var(--background);
border: 3px solid rgb(100, 100, 100);
}

footer{
  display: flex;
  align-items:center;
  justify-self: center;
  gap: 1em;
  bottom: 0;
  background-color: var(--background);
  width: 30%;
  padding: 3em 7%;
}

.col-left{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.col-box {
 display: flex;
 align-items: center;
 gap: 1em;
}
.col-box i{
  font-size: 2em;
}
.col-box span{
   font-size: 1.2em;
}
.col-right{
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
  max-width: 500px;
}
 .col-box .social-icons{
  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 1em;

 }
 .col-right .social-icons i{
  font-size: 0.5em;
  transition: o.2s ease-in-out;
  cursor: pointer;
 }
 .social-icons i:hover{
  color: black;
 }